@import '~@fider/assets/styles/variables.scss';

#p-signin {
  margin-top: 50px;
  max-width: 500px !important;

  .message {
    max-width: 300px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
    img {
      max-height: 100px;
      margin-bottom: 10px; 
    }
    .welcome {
      font-size: $font-size-big;
    }
  }
}