.hidden {
  display: none;
}

.block {
  display: block;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.inline-block {
  display: inline-block;
}

@each $media in $medias {
  @include media(#{$media}) {
    .#{$media}\:hidden {
      display: none;
    }
    .#{$media}\:block {
      display: block;
    }
  }
}

.container {
  position: relative;
  display: block;
  max-width: 100%;
}

@include media("sm") {
  .container {
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
  }
}

@include media("md") {
  .container {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
  }
}

@include media("lg") {
  .container {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
  }
}

@include media("xl") {
  .container {
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
  }
}

.box {
  border-radius: get("border.radius.large");
  background-color: var(--colors-white);
  border: 1px solid var(--colors-gray-200);
  padding: spacing(4);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.04), 0 1px 2px 0 rgba(0, 0, 0, 0.02);
}

.flex {
  display: flex;
}

.flex-y {
  flex-direction: column;
}

.flex-x {
  flex-direction: row;
}

.flex-grow {
  flex-grow: 1;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-self-end {
  align-self: end;
}

.align-self-start {
  align-self: start;
}

.align-self-center {
  align-self: center;
}

.flex-items-center {
  align-items: center;
}

.flex-items-baseline {
  align-items: baseline;
}

.flex-items-start {
  align-items: start;
}

.flex-items-end {
  align-items: end;
}

.justify-between {
  justify-content: space-between;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: end;
}

.justify-full > * {
  flex: 1 1 0;
}

@each $i in 0, 1, 2, 4, 6, 8 {
  .flex-x.flex--spacing-#{$i} > * + * {
    margin-inline-start: spacing($i);
  }
  .flex-y.flex--spacing-#{$i} > * + * {
    margin-top: spacing($i);
  }
}

@each $i in 2, 4, 6 {
  .flex-x.flex--divide-#{$i} > *:first-child {
    padding-inline-end: spacing($i);
  }
  .flex-x.flex--divide-#{$i} > * + * {
    padding-inline-end: spacing($i);
    padding-inline-start: spacing($i);
    border: 0 solid var(--colors-gray-200);
    border-inline-start-width: 1px;
  }
  .flex-x.flex--divide-#{$i} > *:last-child {
    padding-inline-end: 0;
  }
  .flex-y.flex--divide-#{$i} > *:first-child {
    padding-bottom: spacing($i);
  }
  .flex-y.flex--divide-#{$i} > * + * {
    padding-top: spacing($i);
    padding-bottom: spacing($i);
    border: 0 solid var(--colors-gray-200);
    border-top-width: 1px;
  }
  .flex-y.flex--divide-#{$i} > *:last-child {
    padding-bottom: 0;
  }
}

.shadow-sm {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.03);
}
.shadow {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08), 0 1px 2px 0 rgba(0, 0, 0, 0.04);
}
.shadow-md {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.08), 0 2px 4px -1px rgba(0, 0, 0, 0.04);
}
.shadow-lg {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.08), 0 4px 6px -2px rgba(0, 0, 0, 0.04);
}

.rounded {
  border-radius: sizing(1);
}

.rounded-md {
  border-radius: sizing(2);
}

.rounded-full {
  border-radius: 999px;
}

.invisible {
  visibility: hidden;
}

.bt {
  border-top: 1px solid;
}

.bl {
  border-inline-start: 1px solid;
}

.overflow-scroll {
  overflow: scroll;
}

.overflow-auto {
  overflow: auto;
}

.border {
  border: 1px solid transparent;
}

@each $i in 2, 3, 4, 6 {
  .border-#{$i} {
    border: #{$i}px solid transparent;
  }
}

.clickable {
  cursor: pointer;
  pointer-events: inherit;
}

.hover {
  transition: all 0.15s ease;
  &:hover {
    background-color: var(--colors-gray-50);
  }
}
