#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.page {
  padding-top: spacing(6);
  padding-bottom: spacing(6);
}

@include media("sm") {
  .page {
    width: calc(100vw - 20px);
    margin-inline-start: 10px;
    margin-inline-end: 10px;
  }
}
