p,
pre {
  margin: 0 0 14px;
  line-height: 1.6;
}

p:last-child,
pre:last-child {
  margin-bottom: 0;
}

.text-large {
  font-size: get("font.size.2xl");
  color: var(--colors-gray-900);
  font-weight: get("font.weight.bold");
  letter-spacing: -1px;
}

.text-display2 {
  font-size: get("font.size.xl");
  font-weight: get("font.weight.medium");
  letter-spacing: -1px;
}

.text-display {
  font-size: get("font.size.xl");
  font-weight: get("font.weight.semibold");
}

.text-header {
  font-size: get("font.size.xl");
  color: var(--colors-gray-900);
  font-weight: get("font.weight.medium");
}

.text-title {
  font-size: get("font.size.lg");
  color: var(--colors-gray-900);
  font-weight: get("font.weight.medium");
}

.text-subtitle {
  font-size: get("font.size.base");
  color: var(--colors-gray-900);
  font-weight: get("font.weight.medium");
}

.text-body {
  font-size: get("font.size.base");
  color: var(--colors-gray-700);
  line-height: 1.6;
}

.text-sm {
  font-size: get("font.size.sm");
}

.text-lg {
  font-size: get("font.size.lg");
}

.text-2xl {
  font-size: get("font.size.2xl");
}

.text-category {
  font-size: get("font.size.xs");
  font-weight: get("font.weight.semibold");
  color: var(--colors-gray-700);
  text-transform: uppercase;
}

.text-muted {
  font-size: get("font.size.xs");
  color: var(--colors-gray-600);
}

.text-link {
  color: var(--colors-primary-base);
}

.nowrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-link:hover {
  color: var(--colors-blue-800);
  text-decoration: underline;
}

.text-sm {
  font-size: get("font.size.sm");
}

.text-xs {
  font-size: get("font.size.xs");
}

.text-2xs {
  font-size: get("font.size.2xs");
}

.text-xl {
  font-size: get("font.size.xl");
}

.hover\:underline:hover {
  text-decoration: underline;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-medium {
  font-weight: get("font.weight.medium");
}

.text-semibold {
  font-weight: get("font.weight.semibold");
}

.text-bold {
  font-weight: get("font.weight.bold");
}

.uppercase {
  text-transform: uppercase;
}

.text-break {
  word-break: break-word;
  overflow-wrap: break-word;
}
