@import '~@fider/assets/styles/variables.scss';

#p-show-idea {
  
  .subtitle {
    margin-top: 1em;
  }

  .idea-header {
    width: 100%;
    h1 {
      font-weight: 400;
      margin: 0px;
      font-size: $font-size-xlarge;
      @include media("sm") {
        font-size: $font-size-big;
      }
    }
    .c-avatar {
      width: 24px;
      height: 24px;
    }
  }

  @include media(">=md") {
    .header-col, 
    .comments-col {
      float: left;
      width: calc(100% - 230px);
    }
    .action-col {
      float: right;
    }
  }

  .header-col {
    margin-bottom: 5px;
  }

  .action-col {
    @include media(">=md") {
      width: 200px;
    }
    .ui.list {
      margin: 0.5em 0em;
    }
  }

  .c-tag-list {
    .icon.check {
      color: $green;
    }
    span {
      margin-left: 5px;
    }
  }
}

.c-response-form {
  .c-idea-search {
    .support {
      text-align: center;
      width: 50px;
      display: inline-block;
      i {
        margin: 0;
      }
    }
    .status-label {
      width: 60px;
      margin-right: 5px;
      text-align: center;
    }
  }
}