@use "~@fider/assets/styles/variables.scss" as *;

.c-form-field {
  margin-bottom: spacing(7);

  > label {
    display: block;
    font-size: get("font.size.base");
    margin-bottom: spacing(1);
    font-weight: 600;
  }

  &:last-child {
    &:not(.flex-x > &) {
      margin-bottom: 0;
    }
    .flex-x > & {
      // margin-bottom: spacing(2);
    }
  }
}
