@import "~@fider/assets/styles/variables.scss";

.c-form-field {
  margin-bottom: spacing(2);

  > label {
    display: block;
    font-size: get("font.size.sm");
    margin-bottom: spacing(1);
    font-weight: 500;
  }

  &:last-child {
    margin-bottom: 0;

    .flex-x > & {
      margin-bottom: spacing(2);
    }
  }
}
