@use "~@fider/assets/styles/variables.scss" as *;

.c-image-upload {
  margin-bottom: 0;

  input[type="file"] {
    display: none;
  }

  .preview {
    position: relative;
    display: inline-block;
    img {
      padding: 5px;
      min-width: 50px;
      min-height: 50px;
      border: 1px solid var(--colors-gray-300);
      cursor: pointer;
    }
    .c-button {
      position: absolute;
      top: 4px;
      right: 4px;
      border-radius: 50%;
      padding: 0;
      width: 24px;
      height: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
