@import "~@fider/assets/styles/variables.scss";

.c-image-upload {
  input[type="file"] {
    display: none;
  }

  .preview {
    position: relative;
    display: inline-block;
    img {
      padding: 5px;
      min-width: 50px;
      min-height: 50px;
      border: 1px solid get("colors.gray.300");
      cursor: pointer;
    }
    .c-button {
      position: absolute;
      top: 4px;
      right: 4px;
      border-radius: 50%;
      padding: 4px 6px;
    }
  }
}
