@use "~@fider/assets/styles/variables.scss" as *;

/* Dropdown menu */
.dropdown-menu {
  background: var(--colors-white);
  border: 1px solid var(--colors-gray-200);
  border-radius: get("border.radius.large");
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  overflow: auto;
  max-height: 300px;
  padding: spacing(1);
  position: relative;

  button {
    align-items: center;
    background-color: transparent;
    border: none;
    display: flex;
    gap: spacing(0.5);
    text-align: left;
    padding: 8px 16px;
    font-weight: 500;
    width: 100%;
    color: var(--colors-gray-900);
    background-color: transparent;

    &:hover,
    &:hover.is-selected {
      text-decoration: none;
      background-color: var(--colors-gray-300);
    }

    &.is-selected {
      background-color: var(--colors-gray-200);
    }
  }
}
