@import "~@fider/assets/styles/variables.scss";

.c-textarea {
  background-color: get("colors.white");
  width: 100%;
  line-height: get("font.size.xl");
  padding: spacing(2);
  resize: none;
  border: 1px solid get("colors.gray.300");
  border-radius: get("border.radius.medium");
  -webkit-appearance: none;
  appearance: none;

  &:disabled {
    @include disabled();
  }
  &--error {
    border-color: get("colors.red.600");
  }
}
