@use "~@fider/assets/styles/variables.scss" as *;

.c-textarea {
  background-color: var(--colors-white);
  color: var(--colors-black);
  width: 100%;
  line-height: get("font.size.xl");
  padding: spacing(2) spacing(3);
  resize: none;
  border: 1px solid var(--colors-gray-300);
  border-radius: get("border.radius.medium");
  -webkit-appearance: none;
  appearance: none;
  transition: all 0.15s ease;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.02);

  &:hover {
    border-color: var(--colors-gray-400);
  }

  &:focus {
    outline: none;
    border-color: var(--colors-primary-base);
    box-shadow: 0 0 0 3px rgba(45, 87, 237, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.04);
  }

  &:disabled {
    @include disabled();
  }
  &--error {
    border-color: var(--colors-red-600);
  }
}
