@import '~@fider/assets/styles/variables.scss';

.c-card-info {
  span, img {
    vertical-align: middle;
    margin-right: 5px;
  }
  img {
    max-width: 40px;
    max-height: 40px;
  }
  .c-card-info-exp {
    margin-left: 5px;
    font-size: $font-size-small;
    color: $gray-darker;
  }
}