@import '~@fider/assets/styles/variables.scss';

.c-heading {
  display: inline-block;
  margin-bottom: 10px;

  .c-heading-content {
    display: table-cell;
    vertical-align: middle;

    .c-heading-subtitle {
      font-weight: 400;
      margin-top: 5px;
      color: $gray-darker;
      font-size: $font-size;

      @include media("sm") {
        display: none;
      }
    }
  }

  .c-heading-icon + .c-heading-content {
    padding-left: 10px;
  }
  
  .c-heading-icon {
    font-size: 30px;
    @include media("sm") {
      font-size: 20px;
    }
    display: table-cell;
    vertical-align: middle;
  }

  &.m-dividing {
    box-shadow: 0px 1px 0px 0px rgba(34, 36, 38, 0.10);
    padding-bottom: 5px;
    margin-bottom: 10px;
  }

  &.m-small {
    .c-heading-subtitle {
      font-size: $font-size-small;
    }
  }
}