@import '~@fider/assets/styles/variables.scss';

.c-heading {
  margin-bottom: 0;

  .c-heading-content {
    padding-left: 10px;
    display: table-cell;
    vertical-align: middle;
    .c-heading-subtitle {
      font-weight: 400;
      color: $gray-darker;
      font-size: $font-size;
    }
  }
  
  .c-heading-icon {
    font-size: 30px;
    display: table-cell;
    vertical-align: middle;
  }

  &.m-dividing {
    box-shadow: 0px 1px 0px 0px rgba(34, 36, 38, 0.10);
    padding-bottom: 5px;
    margin-bottom: 10px;
  }
}