@import "~@fider/assets/styles/variables.scss";

.c-hint {
  position: relative;
  padding: spacing(4);
  margin-bottom: spacing(2);
  color: get("colors.blue.800");
  border-left: 2px solid get("colors.blue.800");
  background-color: get("colors.blue.50");
  text-align: left;

  span {
    flex: 1;
  }

  &__close {
    cursor: pointer;
  }
}
