@import "~@fider/assets/styles/variables.scss";

.c-message {
  padding: spacing(4);
  margin-bottom: spacing(2);

  &--success {
    color: get("colors.green.800");
    border-left: 2px solid get("colors.green.800");
    background-color: get("colors.green.50");
  }

  &--warning {
    color: get("colors.yellow.800");
    border-left: 2px solid get("colors.yellow.800");
    background-color: get("colors.yellow.50");
  }

  &--error {
    color: get("colors.red.800");
    border-left: 2px solid get("colors.red.800");
    background-color: get("colors.red.50");
  }
}
