@use "~@fider/assets/styles/variables.scss" as *;

.c-message {
  padding: spacing(4);
  margin-bottom: spacing(2);
  border-radius: get("border.radius.medium");

  &--icon {
    border-inline-start-width: 3px;
    border-inline-start-style: solid;
  }

  &--success {
    color: var(--colors-green-800);
    border-color: var(--colors-green-800);
    background-color: var(--colors-green-50);
  }

  &--warning {
    color: var(--colors-yellow-800);
    border-color: var(--colors-yellow-800);
    background-color: var(--colors-yellow-50);
  }

  &--error {
    color: var(--colors-red-800);
    border-color: var(--colors-red-800);
    background-color: var(--colors-red-50);
  }
}
