@import "~@fider/assets/styles/variables.scss";

.c-modal-dimmer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  padding: 1em;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  animation: dimmerFadeIn 0.5s;
  background-color: rgba(get("colors.gray.800"), 0.7);

  @media only screen and (max-height: 483px) {
    overflow-y: scroll;
    display: block;
  }
}

@keyframes dimmerFadeIn {
  from {
    background-color: rgba(get("colors.gray.800"), 0.1);
  }
  to {
    background-color: rgba(get("colors.gray.800"), 0.7);
  }
}

@keyframes windowfadeIn {
  from {
    transform: scale(0.7);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.c-modal-window {
  z-index: 101;
  text-align: left;
  background: #fff;
  border: none;
  border-radius: 3px;
  animation: windowfadeIn 0.5s;

  &--small {
    width: 100%;
    @include media("md") {
      width: 500px;
    }
  }

  &--large {
    width: 100%;
    @include media("md") {
      width: 750px;
    }
  }

  &--center {
    text-align: center;
  }

  .c-modal-header {
    font-size: get("font.size.lg");
    font-weight: 600;
    padding: 15px 20px;
    border-bottom: 1px solid get("colors.gray.200");
  }

  .c-modal-content {
    padding: 15px 20px;
  }

  .c-modal-footer {
    background: get("colors.gray.100");
    padding: 10px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid get("colors.gray.300");
    &--right {
      text-align: right;
    }
    &--center {
      text-align: center;
    }
    &--left {
      text-align: left;
    }
  }
}
