@import "~@fider/assets/styles/variables.scss";

.c-powered {
  text-align: center;
  display: block;
  color: rgba($gray-900, 0.6);
  font-size: $font-size-tiny;
  margin-top: 20px;
}

.c-powered:hover {
  color: $gray-900;
}
