@use "~@fider/assets/styles/variables.scss" as *;

.c-signin-control {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 45px;
  padding-right: 45px;
  padding-bottom: 40px;

  &__oauth {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    width: 100%;

    > *:not(:last-child) {
      margin-bottom: spacing(3);
    }
  }
}

.c-signin-social-button {
  background: none;
  border: 1px solid get("colors.gray.700");
  border-radius: 6px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-top: spacing(3);
  padding-bottom: spacing(3);
  img {
    height: sizing(5);
    padding-right: spacing(3);
  }
  span {
    color: get("colors.gray.700");
    font-size: get("font.size.base");
    font-weight: 500;
  }
}
