@use "~@fider/assets/styles/variables.scss" as *;

.c-tags-select__container {
  position: relative;
  width: 100%;
}

.c-tags-select__list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: center;
  min-height: 40px;
  width: 100%;
  padding: 0 spacing(1);
}

.c-tags-select__selected-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 40px;
  width: 100%;
  padding: 0 spacing(1);
  border: 1px solid var(--colors-gray-300);
  border-radius: get("border.radius.medium");
  background-color: var(--colors-white);
  color: var(--colors-gray-900);
}

.c-tags-select__selected-item {
  display: flex;
  align-items: center;
  margin: 0.25rem;
  background-color: var(--colors-gray-200);
  border-radius: get("border.radius.small");
  color: var(--colors-gray-900);
}

.c-tags-select__remove-button {
  margin: 0 0.25rem;
  color: var(--colors-gray-600);
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  line-height: 1;
  padding: 0 0.25rem;
}

.c-tags-select__remove-button:hover {
  color: var(--colors-red-500);
}

.c-tags-select__options {
  position: absolute;
  z-index: 10;
  width: 100%;
  margin-top: 0.25rem;
  background-color: var(--colors-white);
  border: 1px solid var(--colors-gray-500);
  border-radius: get("border.radius.small");
  max-height: 15rem;
  overflow-y: auto;
}

.c-tags-select__search-input {
  margin: spacing(2);
  width: calc(100% - spacing(4));
}

.c-tags-select__option {
  padding: spacing(2);
  cursor: pointer;
}

.c-tags-select__option:hover {
  background-color: var(--colors-gray-100);
}

.c-tags-select__no-options {
  padding: 0.5rem;
  color: var(--colors-gray-900);
}
