@import "~@fider/assets/styles/variables.scss";

@mixin transition {
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color, transform;
}

.c-toggle {
  padding: 0;
  position: relative;
  display: inline-flex;
  height: sizing(4);
  width: sizing(8);
  border: 2px solid transparent;
  background-color: get("colors.gray.200");
  border-radius: 50px;
  cursor: pointer;
  @include transition();

  span {
    pointer-events: none;
    height: sizing(3);
    width: sizing(3);
    display: inline-block;
    border-radius: 50px;
    background-color: get("colors.white");
    transform: matrix(1, 0, 0, 1, 0, 0);
    @include transition();
  }

  &--disabled {
    @include disabled();
  }

  &--enabled {
    background-color: get("colors.green.600");

    span {
      transform: matrix(1, 0, 0, 1, 16, 0);
    }
  }
}
