@import "~@fider/assets/styles/variables.scss";

.c-username {
  color: get("colors.gray.900");
  font-weight: 600;
  display: inline-flex;
  align-items: center;

  &--email {
    margin-left: 10px;
    color: get("colors.gray.600");
    font-size: get("font.size.xs");
    font-weight: 400;
  }

  &--staff {
    color: get("colors.primary.base");
    border-color: get("colors.primary.base");

    div {
      svg {
        height: 14px;
        vertical-align: text-bottom;
        margin-left: 2px;
        align-items: flex-end;
      }
    }
  }
}
