@use "~@fider/assets/styles/variables.scss" as *;

.c-username {
  color: var(--colors-gray-900);
  font-weight: 600;
  display: inline-flex;
  align-items: center;

  &--email {
    margin-inline-start: 10px;
    color: var(--colors-gray-600);
    font-size: get("font.size.xs");
    font-weight: 400;
  }

  &--staff {
    color: var(--colors-primary-base);
    border-color: var(--colors-primary-base);

    div {
      svg {
        height: 14px;
        vertical-align: middle;
        margin-inline-start: 2px;
        align-items: flex-end;
      }
    }
  }
}
