data/
tmp/
dist/
output/
node_modules/
*.coverprofile
.vscode/

fider
fider.exe
gin-bin
gin-bin.exe
gin-bin.exe~
.env
npm-debug.log

coverage.txt
profile.out
debug
debug.test
.DS_Store
.cover
cover.out