data/
tmp/
dist/
output/
node_modules/
.vscode/
.idea/
logs/
locale/**/*.js

fider
fider.exe
ssr.js
.env
npm-debug.log

profile.out
debug
debug.test
.DS_Store
cover.out
coverage.tmp
tsconfig.tsbuildinfo