#new-idea-input {
  margin-bottom: 20px;
}

.ideas-list {
  margin-top: 40px;
}

.ideas-list .ui.items > .item > .content {
  margin-left: 20px;
}

.idea-header {
  margin-left: 20px;
}

.support-counter {
  width: 130px;

  .statistic {
    margin: 0 auto !important;
  }

  .button {
    width: 60px;
    margin: 0 auto !important;
  }

  i.icon {
    margin: 0px;
  }
}

.no-border {
  border-radius: 0px !important;
}

.no-margin {
  margin: 0px !important;
}

#menu {
  margin-top: 0px;
}

.fdr-profile-popup div.item {
  padding: 10px 5px !important;
}

#footer {
  margin-top: 50px;
  
  #powered-by {
    text-align: center;

    img {
      width: 30px;
      filter: grayscale(100%)
    }
  }
}

