@import '~@fider/assets/styles/variables.scss';

.c-comment-list {
  max-width: 650px;

  .c-avatar {
    margin-right: 5px;
    vertical-align: top;
    margin-top: 2px;
  }

  .c-comment {
    position: relative;
    margin: 0 0 15px 0;
    border: none;
    border-top: none;
    line-height: 1.2;

    .c-comment-content {
      display: inline-block;
      width: 85%;

      .c-comment-text {
        margin-top: 2px;
      }
  
      .c-comment-metadata {
        display: inline-block;
        margin-left: .5em;
        font-size: 80%;
        color: $gray-darker;
      }
    }
  }
}

.c-comment-input  {
  margin: 0 0 15px 0;

  .c-form {
    margin-top: 5px;
    display: inline-block;
    width: 100%;
    textarea {
      margin-top: 5px;
    }
  }

  &.m-authenticated{
    .c-form {
      width: 85%;
    }
  }
}