#c-header {
  .c-header__container {
    @media (min-width: 1024px) {
      position: relative;
    }
  }

  .c-header__moderation {
    width: 100%;

    @media (min-width: 1024px) {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: auto;
    }
  }
}
