@import "~@fider/assets/styles/variables.scss";

.c-status-bg {

  &--open {
    background-color: get("colors.gray.900");
  }

  &--planned {
    background-color: #6435c9;
  }

  &--started {
    background-color: #2185d0;
  }

  &--completed {
    background-color: #21ba45;
  }

  &--declined {
    background-color: #db2828;
  }

  &--duplicate {
    background-color: #d6a100;
  }
}
