@import "~@fider/assets/styles/variables.scss";

.c-tag {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: $font-size-tiny;
  color: $gray-900;
  font-weight: 500;
  border-radius: 10px;
  line-height: 18px;
  padding: 0 8px;
  border: 0;

  svg {
    height: 8px;
    margin-right: 2px;
  }

  &:last-child {
    margin-top: 0;
    margin-bottom: 0;
  }

  &.m-circular {
    min-height: 0;
    min-width: 0;
    overflow: hidden;
    border-radius: 50%;
    padding: 6px;
  }
}
