@import "~@fider/assets/styles/variables.scss";

.c-tag {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  color: get("colors.gray.900");
  font-weight: 500;
  border-radius: 10px;
  line-height: 18px;
  padding: 0 8px;
  border: 0;

  &[href] {
    opacity: 0.9;
    transition: opacity 0.1s;

    &:hover {
      opacity: 1;
    }
  }

  svg {
    height: 8px;
    margin-right: 2px;
  }

  &--circular {
    min-height: 0;
    min-width: 0;
    overflow: hidden;
    border-radius: 50%;
    padding: 6px;
  }
}
