@use "~@fider/assets/styles/variables.scss" as *;

.c-tag {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  color: var(--colors-gray-900);
  background-color: var(--colors-gray-200);
  font-weight: 500;
  border-radius: 5px;
  // line-height: 18px;
  padding: 6px 10px;
  border: 0;

  &[href] {
    opacity: 0.9;
    transition: opacity 0.1s;

    &:hover {
      opacity: 1;
    }
  }

  span {
    margin-inline-end: 7px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
  }

  &--circular {
    min-height: 0;
    min-width: 0;
    overflow: hidden;
    border-radius: 50%;
    padding: 6px;
  }
}
