@import '~@fider/assets/styles/variables.scss';

.c-support-counter {
  margin-right: 10px;

  button, 
  button.supported,
  button.disabled {
    font-size: 18px;
    border: none;
    width: 45px;
    font-weight: 600;
    cursor: pointer;
    background-color: transparent;
    text-align: center;
    margin: 0 auto;
    padding: 0 0;

    &:hover {
      .icon {
        color: inherit;
      }
    }
  }

  button.disabled {
    @include disabled();
  }

  i.icon {
    margin: 0 auto;
    display: block;
  }
}