@import "~@fider/assets/styles/variables.scss";

.c-admin-basepage {
  display: grid;
  grid-template-columns: 1fr;
  gap: spacing(4);

  @include media("lg") {
    grid-template-columns: 1fr 5fr;
  }
}
