@use "~@fider/assets/styles/variables.scss" as *;

.c-side-menu {
  &__item {
    padding: spacing(4);
    border-bottom: 1px solid var(--colors-gray-200);
    color: var(--colors-gray-900);

    &:hover {
      background-color: var(--colors-gray-100);
    }

    &:last-child {
      border-bottom: none;
    }

    &--active {
      color: var(--colors-primary-base);
      border-inline-start: 2px solid var(--colors-primary-base);
      font-weight: 600;
      background-color: var(--colors-white);
      &:hover {
        color: var(--colors-primary-base);
      }
    }
  }
}
