@import "~@fider/assets/styles/variables.scss";

.c-side-menu {
  &__item {
    padding: spacing(3);
    border-bottom: 1px solid get("colors.gray.200");
    color: get("colors.gray.900");

    &:hover {
      background-color: get("colors.gray.100");
    }

    &:last-child {
      border-bottom: none;
    }

    &--active {
      color: get("colors.primary.base");
      border-left: 2px solid get("colors.primary.base");
      font-weight: 600;
      background-color: get("colors.white");
      &:hover {
        color: get("colors.primary.base");
      }
    }
  }
}
