{{define "subject"}}[{{ .siteName }}] {{ .title }}{{end}}

{{define "body"}}
<tr>
  <td>
    <p style="padding-bottom:10px;border-bottom:1px solid #efefef;color:#1c262d">
      {{ translate "email.new_comment.text" (dict "userName" .userName "title" (.title | stripHtml) "postLink" .postLink) | html }}
    </p>
    {{ .content }}
    <p style="color:#666;font-size:14px">
      — <br />
      {{ translate "email.footer.subscription_notice" (dict "view" .view "unsubscribe" .unsubscribe "change" .change) | html }}
    </p>
  </td>
</tr>
{{end}}