{{define "subject"}}{{ "email.signup_email.subject" | translate }}{{end}}

{{define "body"}}
<tr>
  <td style="padding:20px 30px 30px 30px;">
    <h2 style="color:#1c262d;margin:0 0 15px 0;padding:0;">{{ "email.greetings" | translate }}</h2>
    <p style="color:#1c262d;margin:0 0 10px 0;">{{ "email.signup_email.text" | translate }}</p>
    <p style="color:#1c262d;margin:0 0 20px 0;">{{ "email.signup_email.confirmation" | translate }}</p>
    <p style="margin:0;">{{ .link | html }}</p>
  </td>
</tr>
{{end}}