{{define "server-data"}}{{end}}

{{define "content"}}
<div class="container page">
  <div class="w-max-7xl mx-auto text-center mt-8">
    <div class="h-20 mb-4">
      <img src="{{ .private.logo }}" />
    </div>
    <h1 class="text-display">{{ "error.expired.title" | translate | upper }}</h1>
    <p>{{ "error.expired.text" | translate }}</p>

    {{ if .public.tenant }}
    <span>{{ translate "page.backhome" (dict "className" "text-link" "url" .public.settings.baseURL) | html }}</span>
    {{ end }}
  </div>
</div>
{{end}}

{{define "end-of-body"}}{{end}}
