<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <script type="text/javascript" src="/assets/js/{{ .JavaScriptBundle }}"></script>
    <title>{{template "title" .}}</title>
</head>
<body>
  <div class="ui menu">
    <div class="ui container">
      <div class="header item">
        {{ .Tenant.Name }}
      </div>
      {{if not .Claims }}
        <a class="item right signin">
          <img class="ui avatar image" src="https://www.gravatar.com/avatar/">
          Sign in {{ .Claims }} 
          <i class="dropdown icon"></i>
        </a>
      {{ else }}
        <a class="item right signin">
          <img class="ui avatar image" src="https://www.gravatar.com/avatar/{{ .Gravatar }}">
          {{ .Claims.UserName }}
          <i class="dropdown icon"></i>
        </a>
      {{ end }}
    </div>
  </div>

  {{if not .Claims }}
    <div id="user-popup" class="ui popup top left transition hidden">
      <div class="ui list">
        <div class="item">
          <a href="{{ .AuthEndpoint }}/oauth/facebook?redirect={{ .CurrentUrl }}" class="ui fluid facebook button">
            <i class="facebook icon"></i>
            Sign in with Facebook 
          </a>
        </div>
        <div class="item">
          <a href="{{ .AuthEndpoint }}/oauth/google?redirect={{ .CurrentUrl }}" class="ui fluid google plus button">
            <i class="google icon"></i>
            Sign in with Google
          </a>
        </div>
      </div>
    </div>
  {{ else }}
    <div id="user-popup" class="ui popup top left transition hidden">
      <div class="ui">
        <div class="item">
          <a href="/logout?redirect=/">
            Sign out
          </a>
        </div>
      </div>
    </div>
  {{ end }}

  <div class="ui container">
    {{template "content" .}}
  </div>

  <div id="footer" class="ui inverted vertical footer segment">
    <div class="ui center aligned container">
      
      <!--
      <div class="ui stackable inverted divided grid">
        <div class="six wide column">
          <h4 class="ui inverted header">Trending ideas</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Link #1</a>
            <a href="#" class="item">Link #2</a>
            <a href="#" class="item">Link #3</a>
            <a href="#" class="item">Link $3</a>
          </div>
        </div>
        <div class="six wide column">
          <h4 class="ui inverted header">Latest activity</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Someone did something</a>
            <a href="#" class="item">New idea was posted</a>
            <a href="#" class="item">Someone commented on idea #1</a>
            <a href="#" class="item">Idea #2 changed to Shipped</a>
          </div>
        </div>
        <div class="four wide column">
          <h4 class="ui inverted header">Footer Header</h4>
          <p>Extra space for a call to action inside the footer that could help re-engage users.</p>
        </div>
      </div>
      -->
      
      <div class="ui inverted section divider"></div>
      <div class="ui horizontal inverted small divided link list">
        Powered by <a class="item" target="_blank" href="http://we.canhearyou.com/">WeCanHearYou</a>
      </div>
    </div>
  </div>
</body>
</html>
