<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <title>{{template "title" .}}</title>
</head>
<body>
  <script type="text/javascript">
    var _authEndpoint = {{ .AuthEndpoint }};
    var _tenant = {{ .Tenant }};
    var _claims = {{ .Claims }};
    var _gravatar = {{ .Gravatar }}
    {{template "javascript" .}}
  </script>

  <div id="root"></div>
  {{template "content" .}}

  <script type="text/javascript" src="/assets/js/{{ .JavaScriptBundle }}"></script>
</body>
</html>
