{{define "title"}}
Browser not supported &middot; Fider
{{end}}
      
{{define "server-data"}}{{end}}

{{define "content"}}
<div class="container failure-page">
  <img src="{{ .private.logo }}"/>
  <h1>BROWSER NOT SUPPORTED</h1>
  <p>
    You are visiting this page because we detected an unsupported browser. Your browser does not support security features that we require. We highly recommend that you update your browser.
  </p>
  <p>
    We recommend the following browsers:
  </p>
  <div class="c-segments l-browser-list">
    <div class="c-segment">
      <a href="https://www.google.com/chrome/">
        <img class="browser-logo" src="https://cdn.jsdelivr.net/gh/alrra/browser-logos@v46.1.0/src/chrome/chrome_48x48.png" alt="Google Chrome Logo" />
        <span class="browser-name">Google Chrome</span>
      </a>
    </div>
    <div class="c-segment">
      <a href="https://mozilla.org/firefox">
        <img class="browser-logo" src="https://cdn.jsdelivr.net/gh/alrra/browser-logos@v46.1.0/src/firefox/firefox_48x48.png" alt="Firefox Logo" />
        <span class="browser-name">Firefox</span>
      </a>
    </div>
    <div class="c-segment">
      <a href="https://www.apple.com/safari/">
        <img class="browser-logo" src="https://cdn.jsdelivr.net/gh/alrra/browser-logos@v46.1.0/src/safari/safari_48x48.png" alt="Apple Safari Logo" />
        <span class="browser-name">Apple Safari</span>
      </a>
    </div>
    <div class="c-segment">
      <a href="https://www.microsoft.com/en-us/windows/microsoft-edge/microsoft-edge">
        <img class="browser-logo" src="https://cdn.jsdelivr.net/gh/alrra/browser-logos@v46.1.0/src/edge/edge_48x48.png" alt="Microsoft Edge Logo" />
        <span class="browser-name">Microsoft Edge</span>
      </a>
    </div>
  </div>
</div>
{{end}}

{{define "end-of-body"}}{{end}}