{{define "title"}}
  {{ .Tenant.Name }}
{{end}}
        
{{define "content"}}
  <div class="ui menu">
    <div class="ui container">
      <div class="header item">
        {{ .Tenant.Name }}
      </div>
      {{if not .Claims }}
        <a class="item right signin">
          <img class="ui avatar image" src="https://www.gravatar.com/avatar/">
          Sign in {{ .Claims }} 
          <i class="dropdown icon"></i>
        </a>
      {{ else }}
        <a class="item right signin">
          <img class="ui avatar image" src="https://www.gravatar.com/avatar/{{ .Gravatar }}">
          {{ .Claims.UserName }}
          <i class="dropdown icon"></i>
        </a>
      {{ end }}
    </div>
  </div>

  {{if not .Claims }}
    <div id="user-popup" class="ui popup top left transition hidden">
      <div class="ui list">
        <div class="item">
          <a href="{{ .AuthEndpoint }}/oauth/facebook?redirect={{ .CurrentUrl }}" class="ui fluid facebook button">
            <i class="facebook icon"></i>
            Sign in with Facebook 
          </a>
        </div>
        <div class="item">
          <a href="{{ .AuthEndpoint }}/oauth/google?redirect={{ .CurrentUrl }}" class="ui fluid google plus button">
            <i class="google icon"></i>
            Sign in with Google
          </a>
        </div>
      </div>
    </div>
  {{ else }}
    <div id="user-popup" class="ui popup top left transition hidden">
      <div class="ui">
        <div class="item">
          <a href="/logout?redirect=/">
            Sign out
          </a>
        </div>
      </div>
    </div>
  {{ end }}

  <div class="ui container">
    <h1 class="ui header">Welcome to our feedback forum</h1>
  </div>

  <div id="new-idea" class="ui container">
    <h3>I want ...</h3>
    
    <div class="ui fluid input">
      <input type="text" placeholder="Enter your idea, new feature or suggestion here ...">
    </div>
    <p>
      <button class="ui positive button">
        Submit Idea
      </button>
    </p>
  </div>

  <div class="ui container ideas-list">
    {{ if not .Ideas }}
        <p>No ideas have been shared yet.</p>
    {{ else }}
    <h3>Top Ideas</h3>
    <div class="ui divided items">
      {{ range $value := .Ideas }}
        <div class="item">
          <div class="content">
            <a class="header">{{ $value.Title }}</a>
            <div class="meta">
              <span class="cinema">Union Square 14</span>
            </div>
            <div class="description">
              <p>{{ $value.Title }} {{ $value.Title }} {{ $value.Title }} {{ $value.Title }}</p>
            </div>
            <div class="extra">
              <div class="ui label">IMAX</div>
              <div class="ui label">Additional Languages</div>
            </div>
          </div>
        </div>
      {{ end }}
      </div>
    {{ end }}
  </div>
{{end}}