<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/assets/semantic-ui-css/semantic.min.css">
    <title>{{block "title" .}}{{end}}</title>
    <style>
      .ideas-list .vote-col {
        text-align: center;
        width: 140px;
      }
      .ideas-list .vote-col div {
        display: block;
      }
      #footer {
        margin-top: 50px;
      }
    </style>
</head>
<body>
  <div class="ui menu">
    <div class="ui container">
      <div class="header item">
        {{ .Tenant.Name }}
      </div>
    </div>
  </div>
  <div class="ui container">
    <h1 class="ui header">Welcome to our feedback forum</h1>
    <p>This is a basic fixed menu template using fixed size containers.</p>
    <p>A text container is used for the main container, which is useful for single column layouts</p>
  </div>

  <div class="ui container">
    <ul>
    </ul>
  </div>

  <div class="ui container ideas-list">
    <h3>All Ideas</h3>
    <div class="ui divided items">

      {{ range $value := .Ideas }}
      <div class="item">
        <div class="vote-col">
          <div class="ui statistic">
            <div class="value">
              82
            </div>
            <div class="label">
              Votes
            </div>
          </div>
          <button class="mini ui green button">
            Vote
          </button>
        </div>
        <div class="content">
          <a class="header">{{ $value.Title }}</a>
          <div class="meta">
            <span class="cinema">Union Square 14</span>
          </div>
          <div class="description">
            <p>{{ $value.Title }} {{ $value.Title }} {{ $value.Title }} {{ $value.Title }}</p>
          </div>
          <div class="extra">
            <div class="ui label">IMAX</div>
            <div class="ui label">Additional Languages</div>
          </div>
        </div>
      </div>
      {{ end }}

    </div>
  </div>

  <div id="footer" class="ui inverted vertical footer segment">
    <div class="ui center aligned container">
      <div class="ui stackable inverted divided grid">
        <div class="six wide column">
          <h4 class="ui inverted header">Trending ideas</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Link #1</a>
            <a href="#" class="item">Link #2</a>
            <a href="#" class="item">Link #3</a>
            <a href="#" class="item">Link $3</a>
          </div>
        </div>
        <div class="six wide column">
          <h4 class="ui inverted header">Latest activity</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Someone did something</a>
            <a href="#" class="item">New idea was posted</a>
            <a href="#" class="item">Someone commented on idea #1</a>
            <a href="#" class="item">Idea #2 changed to Shipped</a>
          </div>
        </div>
        <div class="four wide column">
          <h4 class="ui inverted header">Footer Header</h4>
          <p>Extra space for a call to action inside the footer that could help re-engage users.</p>
        </div>
      </div>
      <div class="ui inverted section divider"></div>
      <div class="ui horizontal inverted small divided link list">
        <a class="item" href="#">Site Map</a>
        <a class="item" href="#">Contact Us</a>
        <a class="item" href="#">Terms and Conditions</a>
        <a class="item" href="#">Privacy Policy</a>
      </div>
    </div>
  </div>
</body>
</html>
