{{define "server-data"}}{{end}}

å{{define "content"}}
<div class="container page">
  <div class="w-max-7xl mx-auto text-center mt-8">
    <div class="h-20 mb-4">
      <img src="{{ .private.logo }}" />
    </div>
    <h1 class="text-display">UNDER MAINTENANCE</h1>
    <p>{{ .public.props.message }}</p>

    {{ if .public.props.until }}
    <p>We'll be back at <strong>{{ .public.props.until }}</strong>.</p>
    {{ else }}
    <p>We'll be back soon.</p>
    {{ end }}
  </div>
</div>
{{end}}

{{define "end-of-body"}}{{end}}
