{{define "title"}}
Not Invited &middot; Fider
{{end}}
      
{{define "javascript"}}{{end}}

{{define "content"}}
<div class="ui middle aligned center aligned grid failure-page">
  <div class="column">
    <img src="https://getfider.com/images/logo-100x100.png"/>
    <h1>NOT INVITED</h1>
    <p>
      We couldn't find your account or an invitation for your e-mail.
    </p>

    {{ if .tenant }}
      <span>Take me back to <a href="{{ .baseURL }}/signin">{{ .baseURL }}/signin</a>.</span>
    {{ end }}
  </div>
</div>
{{end}}