{{define "title"}} Not Invited &middot; Fider {{end}} {{define "server-data"}}{{end}} {{define "content"}}
<div class="container page">
  <div class="w-max-7xl mx-auto text-center mt-8">
    <div class="h-20 mb-4">
      <img src="{{ .private.logo }}" />
    </div>
    <h1 class="text-display">NOT INVITED</h1>
    <p>We couldn't find your account for your email address.</p>

    {{ if .public.tenant }}
    <span>Take me back to <a class="text-link" href="{{ .public.settings.baseURL }}/signin">{{ .public.settings.baseURL }}/signin</a>.</span>
    {{ end }}
  </div>
</div>
{{end}} {{define "end-of-body"}}{{end}}
