{{define "title"}} Pending Activation &middot; Fider {{end}} {{define "server-data"}}{{end}} {{define "content"}}
<div class="container page">
  <div class="w-max-7xl mx-auto text-center mt-8">
    <div class="h-20 mb-4">
      <img src="{{ .private.logo }}" />
    </div>
    <h1 class="text-display">{{ "page.pendingactivation.title" | translate | upper }}</h1>
    <p>{{ "page.pendingactivation.text" | translate }}</p>
    <p>{{ "page.pendingactivation.text2" | translate }}</p>
  </div>
</div>
{{end}} {{define "end-of-body"}}{{end}}
