#new-idea {
  margin-top: 20px;
}

#new-idea button {
  margin-top: 20px;
}

.ideas-list {
  margin-top: 40px;
}
.ideas-list .vote-col {
  text-align: center;
  width: 140px;
}
.ideas-list .vote-col div {
  display: block;
}
#footer {
  margin-top: 50px;
}