#new-idea-input {
  margin-bottom: 20px;
}

.ideas-list {
  margin-top: 40px;
}

.ideas-list .ui.items > .item > .content {
  margin-left: 20px;
}

#footer {
  margin-top: 50px;
}

.idea-header {
  margin-left: 20px;
}

.support-button {
  width: 60px;
}

.support-button i.icon {
  margin: 0px;
}

.no-border {
  border-radius: 0px !important;
}

.no-margin {
  margin: 0px !important;
}

#menu {
  margin-top: 0px;
}

.fdr-profile-popup div.item {
  padding: 10px 5px !important;
}