#new-idea-input {
  margin-bottom: 20px;
}

.ideas-list {
  margin-top: 40px;
}

.ideas-list .ui.items > .item > .content {
  margin-left: 20px;
}

#footer {
  margin-top: 50px;
}

.right {
  text-align: right;
}

.idea-header {
  margin-left: 20px;
}