@use "~@fider/assets/styles/variables.scss" as *;
/* purgecss start ignore */
#p-legal {
  padding: 50px 0;

  h1 {
    font-size: get("font.size.2xl");
    font-weight: get("font.weight.bold");
    letter-spacing: -1px;
    margin-bottom: spacing(4);
  }

  h2 {
    font-size: get("font.size.xl");
    font-weight: get("font.weight.semibold");
    margin-bottom: spacing(3);
  }

  h3 {
    font-size: get("font.size.lg");
    font-weight: get("font.weight.semibold");
    margin-bottom: spacing(2);
  }

  a {
    color: var(--colors-blue-600);
  }

  a:hover {
    color: var(--colors-blue-800);
    text-decoration: underline;
  }

  table {
    margin-bottom: spacing(4);
    tr {
      th,
      td {
        padding: spacing(1);
        border-bottom: 1px solid var(--colors-gray-300);
      }
      th {
        background-color: var(--colors-gray-100);
      }
    }
  }
}
/* purgecss end ignore */
