@use "~@fider/assets/styles/variables.scss" as *;

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.post-details-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background-color: var(--colors-white);
  animation: fadeIn 0.2s ease-out;
  overflow-y: auto;

  &__backdrop {
    display: none;
  }

  &__panel {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__content {
    flex: 1;
  }
}
