@import "~@fider/assets/styles/variables.scss";

#p-my-notifications {
  .mark-as-read {
    float: right;
    color: $link-color;
    font-size: 10px;
    cursor: pointer;
    font-weight: normal;

    &:hover {
      text-decoration: underline;
    }
  }
  .list {
    .item {
      a {
        padding: 5px;
        display: inline-block;
      }
      &:hover {
        background-color: #f1f8ff;
      }
    }
  }
}
