#p-signup {
  margin-top: 50px;
  max-width: 500px !important;

  .fdr-avatar {
    margin-right: 5px;
  }

  .logo {
    max-height: 100px;
    margin: 0 auto;
    display: block;
  }

  .ui.basic.red.label {
    width: auto;
  }
}