#fdr-signup-page {
    margin-top: 50px;
    max-width: 500px !important;
    text-align: center;

    .fdr-avatar {
        margin-right: 5px;
    }

    .logo {
        height: 100px;
    }

    .ui.form {
        .ui.input, .field > input {
            width: 300px;
        }
    }
}