#fdr-signup-page {
    .page {
        margin-top: 50px;
        max-width: 500px !important;
        text-align: center;
    }

    .fdr-avatar {
        margin-right: 5px;
    }

    .logo {
        height: 100px;
    }

    .login-options {
        width: 400px;
        margin: 0 auto;
    }

    .ui.form {
        .ui.input, .field > input {
            width: 300px;
        }
    }
}