@import "~@fider/assets/styles/variables.scss";

#p-admin-advanced {
  #input-customCSS {
    font-size: $font-size-small;
    font-family: $font-code;
  }
  ul {
    li {
      padding-bottom: 5px;
    }
  }
}
