@import '~@fider/assets/styles/variables.scss';

#p-admin-billing {
  .l-payment-info {
    p {
      span, svg {
        vertical-align: middle;
        margin-right: 10px;
      }
    }
    svg {
      max-width: 40px;
      max-height: 40px;
    }
  }
}