@import "~@fider/assets/styles/variables.scss";

#p-admin-authentication {
  .l-provider {
    img,
    strong {
      vertical-align: middle;
      margin-right: 2px;
    }
    img {
      width: 24px;
      height: 24px;
    }
    .m-enabled {
      color: $green-darker;
      font-weight: 500;
      font-size: $font-size-mini;
    }
    .m-disabled {
      color: $red;
      font-weight: 500;
      font-size: $font-size-mini;
    }
  }
}
