@import "~@fider/assets/styles/variables.scss";

#p-admin-members {
  @include media("<=md") {
    .col-left {
      .c-list-item:last-child {
        margin-bottom: 15px;
      }
    }
    .col-right {
      .c-list-item:first-child {
        padding-top: 15px;
        border-top: 1px solid $gray-lighter;
      }
    }
  }

  .l-legend {
    list-style-type: none;
    padding-left: 0;
  }

  .c-list-item {
    .c-avatar {
      margin-right: 5px;
    }
    .l-user-details {
      display: inline-block;
      vertical-align: middle;
      span {
        display: block;
      }
    }
    .l-user-actions {
      display: inline-block;
      cursor: pointer;
      vertical-align: middle;
      margin-left: 5px;
      .c-dropdown-text {
        color: $gray-dark;
      }
    }
    .staff {
      font-size: $font-size-tiny;
    }
    .blocked {
      font-size: $font-size-tiny;
      color: $red;
    }
  }

  .l-show-more {
    cursor: pointer;
    font-weight: bold;
    padding-left: 5px;
  }
}
