@import 'variables.scss';

.gm-text {
  color: $text-color;
}

.gm-text-lighter {
  color: $gray-darker;
}

.gm-primary {
  color: $main-color;
}

.gm-primary-hover:hover {
  color: $main-color;
}

.gm-staff {
  font-weight: 700;
  color: $admin-color;
  border-color: $admin-color;
}

.gm-status-label {
  text-transform: uppercase;
  color: #fff;
  display: inline-block;
  line-height: 1;
  padding: 5px 4px;
  font-weight: 700;
  border: none;
  border-radius: 3px;
  font-size: $font-size-micro;
}

.gm-status-open {
  color: $text-color;
  background-color: #e8e8e8;
}

.gm-status-planned {
  background-color: #6435c9;
}

.gm-status-started {
  background-color: #2185d0;
}

.gm-status-completed {
  background-color: #21ba45;
}

.gm-status-declined {
  background-color: #db2828
}

.gm-status-duplicate {
  background-color: #fbbd08;
}