@import 'variables.scss';

.text,
.text-hover:hover {
  color: $text-color;
}

.text-lighter {
  color: $gray-darker;
}

.primary,
.primary-hover:hover {
  color: $main-color;
}

.staff {
  font-weight: 600;
  color: $admin-color;
  border-color: $admin-color;
}

.status-label {
  text-transform: uppercase;
  color: $white;
  display: inline-block;
  line-height: 1;
  padding: 5px 4px;
  font-weight: 600;
  border: none;
  border-radius: 3px;
  font-size: $font-size-micro;
}

.status-open {
  color: $text-color;
  background-color: #e8e8e8;
}

.status-planned {
  background-color: #6435c9;
}

.status-started {
  background-color: #2185d0;
}

.status-completed {
  background-color: #21ba45;
}

.status-declined {
  background-color: #db2828
}

.status-duplicate {
  background-color: #fbbd08;
}

.response {
  padding: 0.5em;

  .content {
    margin-top: 10px;
  }

  .c-avatar {
    margin-left: 3px;
  }

  span.date {
    margin-left: 6px;
  }
}