@import 'variables.scss';
@import 'form.scss';

.center {
  text-align: center;
}

body {
  background-color: $bg-color;
}

#menu {
  margin-top: 0px;
  background-color: $menu-color;
  margin-bottom: 30px;
  height: 40px;

  .fdr-avatar {
    margin-right: 5px;
  }
  
  div, a {
    border: none;
    color: textColorFor($menu-color);
  }

  a::before {
    content: none;
  }
}

.info {
  color: rgba(0,0,0,.4);
  font-size: 90%;
}

.info.right {
  float: right;
}

#menu a.subtitle,
.subtitle {
  font-size: 11px;
  font-weight: 600;
  letter-spacing: .3px;
  text-transform: uppercase;
  color: #999;
}

code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.markdown-body {
  blockquote {
      padding: 0 1em;
      color: #6a737d;
      border-left: 0.25em solid #dfe2e5;
  }
  pre {
    overflow: hidden;
    padding: 16px;
    line-height: 1.45;
    background-color: #f6f8fa;
    border-radius: 3px;
    code {
      display: inline;
      max-width: auto;
      padding: 0;
      margin: 0;
      overflow: visible;
      line-height: inherit;
      word-wrap: normal;
      background-color: transparent;
      border: 0;
    }
  }
  code {
    padding: 0.2em;
    font-size: 85%;
    margin: 0;
    background-color: rgba(27,31,35,0.05);
    border-radius: 3px;
  }
}

.ui.inline.dropdown {
  .text {
    border-bottom: 1px dashed #9e9e9e
  }
}

.fdr-avatar,
.ui.menu .item>img:not(.ui) {
  border-radius: 50%;
  width: 30px;
  vertical-align: middle;
}

.no-border {
  border-radius: 0px !important;
}

.no-margin {
  margin: 0px !important;
}

.name {
  color: #4f5e6b;
  font-weight: 500;
  &.staff {
    font-weight: 700;
    color: $admin-color;
  }
}

.support-counter {
  margin-right: 10px;

  .button, 
  .button.disabled {
    font-size: 18px;
    min-width: 45px;
    margin: 0 auto !important;
    padding: 0rem 0rem 0.5rem 0rem !important;
    background-color: #fff !important;

    i.icon {
      color: #C4C9CD;
    }
  }

  .button.supported, 
  .button.no-touch:hover {
    color: $main-color;

    i.icon {
      color: lighten($main-color, 20%) !important;
    }
  }

  i.icon {
    margin: 0 auto !important;
    display: block;
  }
}

.fdr-profile-popup div.item {
  padding: 5px 0px !important;
}

.ui.segment.fdr-response {
  padding: 0.5em;

  .content {
    margin-top: 10px;
  }

  .label {
    text-transform: uppercase;
  }

  .fdr-avatar {
    margin-left: 0.5em;
  }

  .info {
    display: inline !important;
    position: relative;
    top: 0px;
    left: 0px;
    color: rgba(0, 0, 0, 0.4);
    box-shadow: none;
    background: 0px 0px;
    margin: 0.5rem 0px 0px;
    padding: 0px;
    transition: color 0.1s ease;
    border-top: none;

    span {
      margin-left: 6px;
    }
  }
}

#footer {
  #powered-by {
    text-align: center;

    img {
      width: 30px;
      filter: grayscale(100%);

      &:hover {
        filter: grayscale(0%)
      }
    }
  }
}

.ui[class*="bottom pointing"].label:before, .ui[class*="pointing below"].label:before {
  left: 20px;
}

.display-error {
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: left;
  }
}

.ui.basic.red.label {
  color: #ef7878 !important;
  border-color: #ef7878 !important;

  &.below {
    border-left: none;
    border-right: none;
    border-top: none;
  }
}

.login-message {
  background-color: $menu-color;
}

.ui.popup.login-message {
  min-width: 360px;
}

.ui.main-color {
  background-color: $main-color;
  color: #fff;

  &.not-animated:hover {
    background-color: $main-color;
    color: #fff;
  }

  &.inverted, &.not-animated.inverted:hover {
    box-shadow: 0 0 0 2px  lighten( $main-color, 10% ) inset !important;
    background-color: #fff;
    color: lighten( $main-color, 10% );
  }


  &.animated:hover, &.animated.inverted:hover {
    box-shadow: 0 0 0 2px darken( $main-color, 10% ) inset !important;
    background-color: darken( $main-color, 10% );
    color: #fff;
  }
}

.failure-page {
  height: 60%;
  p {
    font-size: 150%;
  }
  h1 {
    font-size: 200%;
    color: #3b4450;
  }
}