html,
body {
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  min-width: 320px;
  color: get("colors.gray.900");
  font-size: get("font.size.base");
  font-family: $font-base;
}

code {
  font-family: $font-code;
}

body,
h1,
h2,
h3,
h4,
h5,
input {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

pre {
  margin: 0;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: $font-base;
  font-size: get("font.size.base");
}

a {
  color: get("colors.gray.900");
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 400;
  font-size: get("font.size.base");
}

img {
  height: 100%;
}
