@import 'variables.scss';

.ui.vertical.menu {
  .active.item {
    color: $text-color;
    font-weight: 700;
    background-color: $menu-color;
  }
}

.ui.list {
  .item {
    .showover {
      visibility: hidden;
    }
    &:hover {
      .showover {
        visibility: visible;
      }
    }
  }
}


.ui.label {
  .icon {
    margin-right: 0.25em;
  }
}