@use "~inter-ui/default" with (
  $inter-font-display: swap,
  $inter-font-path: "~inter-ui/web"
);

@use "~inter-ui/variable" with (
  $inter-font-display: swap,
  $inter-font-path: "~inter-ui/variable"
);

@import "variables/_functions";
@import "variables/_colors";
@import "variables/_dark-colors";
@import "variables/_spacing";
@import "variables/_sizing";
@import "variables/_text";
@import "utility/_theme.scss";

/* @include get-theme("dark"); */
$colors: $dark-colors;

@include default.all;
@include variable.all;

$all: (
  colors: $colors,
  font: $font,
  border: (
    radius: (
      small: 6px,
      medium: 8px,
      large: 12px,
      full: 999px,
    ),
  ),
);

// Queries
$medias: "sm", "md", "lg", "xl";
$sm-width: 576px;
$md-width: 768px;
$lg-width: 992px;
$xl-width: 1200px;

@mixin media($media) {
  @if $media == "sm" {
    @media only screen and (max-width: #{$md-width}) {
      @content;
    }
  } @else if $media == "md" {
    @media only screen and (min-width: #{$md-width}) {
      @content;
    }
  } @else if $media == "lg" {
    @media only screen and (min-width: #{$lg-width}) {
      @content;
    }
  } @else if $media == "xl" {
    @media only screen and (min-width: #{$xl-width}) {
      @content;
    }
  }
}

@mixin disabled() {
  cursor: not-allowed;
  opacity: 0.45 !important;
  background-image: none !important;
  pointer-events: none !important;
}
