$font-size-micro: 9px;
$font-size-mini: 11px;
$font-size-tiny: 12px;
$font-size-small: 13px;
$font-size: 14px;
$font-size-large: 16px;
$font-size-big: 18px;
$font-size-xlarge: 22px;

$font-site: -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, "Helvetica Neue", Helvetica, sans-serif;
$font-code: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;

$main-color: #0069ff;
$admin-color: #365899;
$bg-color: #fdfdfd;
$menu-color: #fff;
$text-color: #333;
$link-color: #07C;
$focus-color: #85b7d9;

// Buttons
$white: #fff;
$gray-lightest: rgba(0,0,0,.03);
$gray-lighter: #eee;
$gray-light: #d5d5d5;
$gray: #d5d5d5;
$gray-dark: rgba(0, 0, 0, 0.3);
$gray-darker: rgba(0, 0, 0, 0.4);
$gray-darkest: rgba(0, 0, 0, 0.5);
$green: #15CD72;
$green-darker: #0CB863;
$red: #db2828;
$orange: #ff9320;
$error: #ef7878;

// Queries
$sm-width: 576px;
$md-width: 768px;
$lg-width: 992px;
$xl-width: 1200px;

@mixin media($media) {
  @if $media == "sm" {
    @media only screen and (max-width: #{$md-width - 0.1px}) { 
      @content; 
    }
  }
  @else if $media == ">=sm" {
    @media only screen and (min-width: #{$sm-width}) { 
      @content; 
    }
  }
  @else if $media == "md" {
    @media only screen and (min-width: #{$md-width}) and (max-width: #{$lg-width - 0.1px}) { 
      @content; 
    }
  }
  @else if $media == ">=md" {
    @media only screen and (min-width: #{$md-width}) { 
      @content; 
    }
  }
  @else if $media == "<lg" {
    @media only screen and (max-width: #{$xl-width - 0.1px}) { 
      @content; 
    }
  }
  @else if $media == "lg" {
    @media only screen and (min-width: #{$lg-width}) and (max-width: #{$xl-width - 0.1px}) { 
      @content; 
    }
  }
  @else if $media == ">=lg" {
    @media only screen and (min-width: #{$lg-width}) { 
      @content; 
    }
  }
  @else if $media == "xl" {
    @media only screen and (min-width: #{$xl-width}) { 
      @content; 
    }
  }
}

@function textColorFor($color) {
  @if (lightness($color) > 60) {
    @return #484848; // Lighter background, return dark color
  } @else {
    @return #ffffff; // Darker background, return light color
  }
}

@mixin disabled() {
  cursor: default;
  opacity: .45!important;
  background-image: none!important;
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
  pointer-events: none!important;
}