#fdr-signup-page {
    margin-top: 50px;

    .logo {
        height: 100px;
    }

    .ui.form {
        label {
            width: 50px;
        }
        input#name {
            width: 300px;
        }
    }
}