@import "~@fider/assets/styles/variables.scss";

.c-comment-list {
  .c-avatar {
    margin-right: 10px;
  }

  .c-comment {
    margin: 20px 0 0 0;
    display: flex;

    .c-comment-content {
      flex-grow: 1;

      .c-comment-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 10px;

        .c-comment-author {
          .c-comment-metadata {
            font-size: $font-size-tiny;
            color: $gray-700;
          }
        }

        .c-comment-menu {
          align-self: center;
        }
      }

      .c-comment-body {
        background-color: $gray-50;
        border-radius: 4px;
        padding: 8px;
      }

      .l-more-actions {
        .c-dropdown-control {
          padding: 0px 0px 0px 5px;
        }

        .c-dropdown-menu {
          border-radius: 5px;
          width: 100px;
        }

        .icon {
          color: $gray-500;
          font-size: 12px;
        }

        &:hover {
          .icon {
            color: $gray-900;
          }
        }

        &.is-open {
          display: inline-block !important;
          .icon {
            color: $gray-900;
          }
        }
      }
    }
  }
}

.c-comment-input {
  display: flex;
  margin: 10px 0 0 0;

  .c-form {
    flex-grow: 1;
    textarea {
      margin-top: 5px;
    }
  }
}
