@import "~@fider/assets/styles/variables.scss";

.c-comment-list {

  .c-comment {
    margin: 20px 0 0 0;
    display: flex;
    .c-avatar {
      margin: 8px 8px 0 0;
    }

    .c-comment-content {
      flex-grow: 1;
      background-color: $gray-50;
      border-radius: 4px;
      padding: 8px;

      .c-comment-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .c-comment-author {
          .c-comment-metadata {
            display: inline-block;
            font-size: $font-size-tiny;
            color: $gray-700;
          }
        }

        .c-comment-menu {
          align-self: center;
        }
      }

      .c-comment-body {
        margin-top: 5px;
      }

      .l-more-actions {
        .c-dropdown-control {
          padding: 0px 0px 0px 5px;
        }

        .c-dropdown-menu {
          border-radius: 5px;
          width: 100px;
        }

        .icon {
          color: $gray-500;
          font-size: 12px;
        }

        &:hover {
          .icon {
            color: $gray-900;
          }
        }

        &.is-open {
          display: inline-block !important;
          .icon {
            color: $gray-900;
          }
        }
      }
    }
  }
}

.c-comment-input {
  display: flex;
  margin-top: 10px;
  .c-avatar {
    margin-top: 8px;
    margin-right: 8px;
  }

  .c-form {
    padding: 8px;
    flex-grow: 1;
    textarea {
      margin-top: 5px;
    }
  }
}
