@import "~@fider/assets/styles/variables.scss";

.c-comment-list {
  @include media(">=lg") {
    max-width: 650px;
  }

  .c-avatar {
    margin-right: 5px;
    vertical-align: top;
    margin-top: 2px;
  }

  .c-comment {
    position: relative;
    margin: 0 0 20px 0;
    border-top: none;
    line-height: 1.2;

    .c-comment-content {
      display: inline-block;
      width: 85%;

      .c-comment-metadata {
        display: inline-block;
        font-size: 80%;
        color: $gray-darker;
        margin-left: 3px;
      }

      .l-more-actions {
        .c-dropdown-control {
          padding: 0px 0px 0px 5px;
        }

        .c-dropdown-menu {
          border-radius: 5px;
          width: 100px;
        }

        .icon {
          color: $gray-dark;
          font-size: 12px;
        }

        &:hover {
          .icon {
            color: $gray-darkest;
          }
        }

        &.is-open {
          display: inline-block !important;
          .icon {
            color: $gray-darkest;
          }
        }
      }
    }
  }
}

.c-comment-input {
  margin: 0 0 15px 0;

  .c-form {
    margin-top: 5px;
    display: inline-block;
    width: 100%;
    textarea {
      margin-top: 5px;
    }
  }

  &.m-authenticated {
    .c-form {
      width: 85%;
    }
  }
}
