@import '~@fider/assets/styles/variables.scss';

.c-comment-list {
  @include media(">=lg") {
    max-width: 650px;
  }

  .c-avatar {
    margin-right: 5px;
    vertical-align: top;
    margin-top: 2px;
  }

  .c-comment {
    position: relative;
    margin: 0 0 10px 0;
    border-top: none;
    line-height: 1.2;
    border: 1px solid $gray-lighter;

    .c-comment-header {
      background-color: $white-dark;
      line-height: 30px;
      padding: 5px 10px;
      vertical-align: middle;

      @include media("<md") {
        line-height: 15px;
        .c-username {
          display: block;
        }
      }

      .c-comment-title {
        display: inline-block;
      }

      .c-comment-metadata {
        @include media(">=lg") {
          margin-left: 5px;
          &::before {
            content: "· ";
          }
        }
        display: inline-block;
        font-size: 80%;
        color: $gray-darker;
      }

      .l-more-actions {
        cursor: pointer;
        display: inline-block;
        position: absolute;
        right: 10px;
        @include media("<md") {
          top: 12px;
        }

        .ellipsis.icon {
          color: $gray-dark;
        }

        &:hover {
          .ellipsis.icon {
            color: $gray-darkest;
          }
        }

        &.is-open {
          display: inline-block !important;
          .ellipsis.icon {
            color: $gray-darkest;
          }
        }
      }
    }

    .c-comment-text {
      background-color: $white;
      padding: 10px;
    }
  }
}

.c-comment-input  {
  margin: 0 0 15px 0;

  .c-form {
    margin-top: 5px;
    display: inline-block;
    width: 100%;
    textarea {
      margin-top: 5px;
    }
  }

  &.m-authenticated{
    .c-form {
      width: 85%;
    }
  }
}