@use "~@fider/assets/styles/variables.scss" as *;

.dropdown-wrapper {
  position: relative;
  width: 100%;
}

.tags-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.selected-options-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 3rem;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--colors-gray-500);
  border-radius: 0.25rem;
  background-color: var(--colors-white);
  cursor: pointer;
}

.selected-option {
  display: flex;
  align-items: center;
  margin: 0.25rem;
  background-color: var(--colors-gray-200);
  border-radius: 0.25rem;
  color: var(--colors-gray-900);
}

.remove-button {
  margin: 0 0.25rem;
  color: var(--colors-gray-600);
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  line-height: 1;
  padding: 0 0.25rem;
}

.remove-button:hover {
  color: var(--colors-red-500);
}

.search-input {
  flex-grow: 1;
  min-width: 5rem;
  margin: 0.25rem;
  padding: 0.25rem;
  border: none;
  background-color: var(--colors-white);
  color: var(--colors-black);
  outline: none;
}

.search-input:focus {
  outline: none;
}

.options-container {
  position: absolute;
  z-index: 10;
  width: 100%;
  margin-top: 0.25rem;
  background-color: var(--colors-white);
  border: 1px solid var(--colors-gray-500);
  border-radius: 0.25rem;
  max-height: 15rem;
  overflow-y: auto;
}

.option-item {
  padding: 0.5rem;
  cursor: pointer;
}

.option-item:hover {
  background-color: var(--colors-gray-100);
}

.no-options {
  padding: 0.5rem;
  color: var(--colors-gray-900);
}
