@import "~@fider/assets/styles/variables.scss";

.dropdown-wrapper {
  position: relative;
  width: 100%;
}

.tags-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.selected-options-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 3rem;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid get("colors.gray.500");
  border-radius: 0.25rem;
  background-color: get("colors.white");
  cursor: pointer;
}

.selected-option {
  display: flex;
  align-items: center;
  margin: 0.25rem;
  background-color: get("colors.gray.200");
  border-radius: 0.25rem;
  color: get("colors.gray.900");
}

.remove-button {
  margin-left: 0.25rem;
  color: get("colors.gray.500");
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  line-height: 1;
  padding: 0 0.25rem;
}

.remove-button:hover {
  color: get("colors.red.500");
}

.search-input {
  flex-grow: 1;
  min-width: 5rem;
  margin: 0.25rem;
  padding: 0.25rem;
  border: none;
  outline: none;
}

.search-input:focus {
  outline: none;
}

.options-container {
  position: absolute;
  z-index: 10;
  width: 100%;
  margin-top: 0.25rem;
  background-color: get("colors.white");
  border: 1px solid get("colors.gray.500");
  border-radius: 0.25rem;
  max-height: 15rem;
  overflow-y: auto;
}

.option-item {
  padding: 0.5rem;
  cursor: pointer;
}

.option-item:hover {
  background-color: get("colors.gray.100");
}

.no-options {
  padding: 0.5rem;
  color: get("colors.gray.900");
}
