@import "~@fider/assets/styles/variables.scss";

.l-votes-list {
  .c-avatar {
    margin: 0 -8px 0 -2px;
    padding: 0;
    border: 2px solid $bg-color;
  }
}

.l-votes-more {
  margin-left: 14px;
  font-weight: 600;
  font-size: $font-size-tiny;
  &.clickable:hover {
    text-decoration: underline;
  }
}
