@import "~@fider/assets/styles/variables.scss";

.c-votes-modal {
  .c-modal-content {
    height: 300px;
    overflow-y: scroll;
    .c-list-item {
      margin: 5px 0px;
      display: flex;
      .c-avatar {
        margin-right: 5px;
      }
      .l-user {
        vertical-align: middle;
        span {
          display: block;
        }
      }
      .l-date {
        margin-left: auto;
        text-align: right;
        width: 60px;
        min-width: 60px;
      }
    }
  }
}
