@import 'variables.scss';
@import 'form.scss';

.idea-header {
  margin-left: 20px;
}

.center {
  text-align: center;
}

body {
  background-color: $bgcolor;
}

#menu {
  margin-top: 0px;
  background-color: $violet;
  margin-bottom: 30px;
  div, a {
    border: none;
    color: #fff;
  }
  a::before {
    content: none;
  }
}

code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}

.ui.inline.dropdown {
  .text {
    border-bottom: 1px dashed #9e9e9e
  }
}

.no-border {
  border-radius: 0px !important;
}

.no-margin {
  margin: 0px !important;
}

.support-counter {
  width: 130px;

  .statistic {
    margin: 0 auto !important;
  }

  .button {
    width: 60px;
    margin: 0 auto !important;
  }

  i.icon {
    margin: 0px;
  }
}

.fdr-profile-popup div.item {
  padding: 10px 5px !important;
}

.fdr-response {
  .content {
    margin-top: 10px;
  }

  .info {
    display: inline !important;
    position: relative;
    top: 0px;
    left: 0px;
    color: rgba(0, 0, 0, 0.4);
    box-shadow: none;
    background: 0px 0px;
    margin: 0.5rem 0px 0px;
    padding: 0px;
    transition: color 0.1s ease;
    border-top: none;

    span {
      margin-left: 6px;
    }
  }
}

#footer {
  margin-top: 50px;
  
  #powered-by {
    text-align: center;

    img {
      width: 30px;
      filter: grayscale(100%)
    }
  }
}

.ui[class*="bottom pointing"].label:before, .ui[class*="pointing below"].label:before {
  left: 20px;
}

.display-error {
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: left;
    li {
      padding: 5px;
    }
  }
}

.ui.basic.red.label {
  background-color: #fff4f4 !important;
  color: #d84e4e !important;
  border-color: #ef7878 !important;
}

.ui.message.signin-message {
  background-color: #fff;
}

.ui.popup.signin-message {
  min-width: 290px;
}

.ui.violet.button {
  background-color: $violet;
}

.ui.inverted.violet.button, .ui.inverted.violet.buttons .button {
  background-color: #fff;
}