@import 'variables.scss';
@import 'form.scss';

.center {
  text-align: center;
}

body {
  background-color: $bg-color;
}

#menu {
  margin-top: 0px;
  background-color: $menu-color;
  margin-bottom: 30px;
  height: 40px;
  
  div, a {
    border: none;
    color: textColorFor($menu-color);
  }
  a::before {
    content: none;
  }
}

.info {
  color: rgba(0,0,0,.4);
  font-size: 90%;
}

.info.right {
  float: right;
}

code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}

.ui.inline.dropdown {
  .text {
    border-bottom: 1px dashed #9e9e9e
  }
}

.fdr-avatar,
.ui.menu .item>img:not(.ui) {
  border-radius: .25rem;
  width: 2em;
  display: inline-block;
  margin-right: 0.5em;
  vertical-align: middle;
}

.comment-input {
  display: inline-block;
  width: 90%;
}

.ui.comments {
  .fdr-avatar {
    vertical-align: top;
    margin-top: 2px;
  }
  .comment > .content {
    display: inline-block;
    max-width: 90%;
  }
}

.no-border {
  border-radius: 0px !important;
}

.no-margin {
  margin: 0px !important;
}

.support-counter {
  width: 60px;
  margin-right: 10px;

  .button, 
  .button.disabled { 
    margin: 0 auto !important;
    padding: 0rem 1rem 0.5rem 1rem !important;
    background-color: #fff !important;
    box-shadow: 0 0 0 1px rgba(34,36,38,.15) inset !important;
  }

  .button.supported, 
  .button.no-touch:hover {
    background-color: lighten($main-color, 49%) !important;
    color: $main-color;
    box-shadow: 0 0 0 1px $main-color inset !important;
  }

  i.icon {
    margin: 3px !important;
    display: block;
  }
}

.fdr-profile-popup div.item {
  padding: 10px 5px !important;
}

.ui.segment.fdr-response {
  padding: 0.5em;

  .content {
    margin-top: 10px;
  }

  .label {
    text-transform: uppercase;
  }

  .fdr-avatar {
    margin-left: 0.5em;
  }

  .info {
    display: inline !important;
    position: relative;
    top: 0px;
    left: 0px;
    color: rgba(0, 0, 0, 0.4);
    box-shadow: none;
    background: 0px 0px;
    margin: 0.5rem 0px 0px;
    padding: 0px;
    transition: color 0.1s ease;
    border-top: none;

    span {
      margin-left: 6px;
    }
  }
}

#footer {
  #powered-by {
    text-align: center;

    img {
      width: 30px;
      filter: grayscale(100%)
    }
  }
}

.ui[class*="bottom pointing"].label:before, .ui[class*="pointing below"].label:before {
  left: 20px;
}

.display-error {
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: left;
    li {
      padding: 5px;
    }
  }
}

.ui.basic.red.label {
  background-color: #fff4f4 !important;
  color: #d84e4e !important;
  border-color: #ef7878 !important;
}

.ui.message.signin-message {
  background-color: #fff;
}

.ui.popup.signin-message {
  min-width: 290px;
}

.ui.main-color {
  background-color: $main-color;
  color: #fff;

  &.not-animated:hover {
    background-color: $main-color;
    color: #fff;
  }

  &.inverted, &.not-animated.inverted:hover {
    box-shadow: 0 0 0 2px  lighten( $main-color, 10% ) inset !important;
    background-color: #fff;
    color: lighten( $main-color, 10% );
  }


  &.animated:hover, &.animated.inverted:hover {
    box-shadow: 0 0 0 2px darken( $main-color, 10% ) inset !important;
    background-color: darken( $main-color, 10% );
    color: #fff;
  }
}

.failure-page {
  height: 60%;
  p {
    font-size: 150%;
  }
  h1 {
    font-size: 200%;
    color: #3b4450;
  }
}