$light-colors: (
  "gray": (
    "100": #fcfafa,
    "200": #eeebeb,
    "300": #e0dcdd,
    "400": #d2cdcf,
    "500": #c4bec0,
    "600": #9d9598,
    "700": #756e71,
    "800": #4e474b,
    "900": #262225,
    "50": #f9fafb,
  ),
  "green": (
    "900": #14532d,
    "800": #166534,
    "700": #15803d,
    "600": #16a34a,
    "500": #22c55e,
    "400": #4ade80,
    "300": #86efac,
    "200": #bbf7d0,

    "100": #dcfce7,
    "50": #f0fdf4,
  ),
  "yellow": (
    "900": #78350f,
    "800": #92400e,
    "700": #b45309,
    "600": #d97706,
    "500": #f59e0b,
    "400": #fbbf24,
    "300": #fcd34d,
    "200": #fde68a,
    "100": #fef3c7,
    "50": #fffbeb,
  ),
  "blue": (
    "100": #f2f2ff,
    "200": #c2c4ff,
    "300": #909bfd,
    "400": #5e76f7,
    "500": #2d57ed,
    "600": #0f3ebb,
    "700": #03308a,
    "800": #002358,
    "900": #001126,
    "50": #f0f9ff,
  ),
  "red": (
    "900": #7f1d1d,
    "800": #991b1b,
    "700": #b91c1c,
    "600": #dc2626,
    "500": #ef4444,
    "400": #f87171,
    "300": #fca5a5,
    "200": #fecaca,
    "100": #fee2e2,
    "50": #fef2f2,
  ),
  "primary": (
    "light": var(--primary-color-light, #c2c4ff),
    "base": var(--primary-color, #2d57ed),
    "dark": var(--primary-color-dark, #03308a),
  ),
  "white": #fff,
  "black": #262225,
);
