@use "~@fider/assets/styles/variables.scss" as *;

#p-roadmap {
  background-color: var(--colors-gray-100);
  padding-top: spacing(8);
  padding-bottom: spacing(12);
}

.c-roadmap-board {
  display: grid;
  grid-template-columns: 1fr;
  gap: spacing(6);

  @include media("lg") {
    grid-template-columns: repeat(3, 1fr);
  }
}

.c-roadmap-column {
  &__header {
    display: flex;
    margin-bottom: spacing(6);
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: spacing(4);
  }
}
