@use "~@fider/assets/styles/variables.scss" as *;

#p-home {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 0;
  row-gap: spacing(8);

  @include media("lg") {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: spacing(8);
    row-gap: 0;
  }

  .p-home {
    &__welcome-col {
      > :first-child {
        background-color: var(--colors-white);
        border-radius: get("border.radius.large");
        border: 1px solid var(--colors-gray-200);

        @include media("lg") {
        }
      }
    }

    &__posts-col {
      background-color: var(--colors-white);
      border-radius: get("border.radius.large");
      border: 1px solid var(--colors-gray-200);

      @include media("lg") {
      }
    }

    &__posts-col {
      grid-column: span 2 / span 2;
    }
  }
}
