@import "~@fider/assets/styles/variables.scss";

#p-home {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 0;
  row-gap: spacing(6);

  @include media("lg") {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: spacing(6);
    row-gap: 0;
  }

  .p-home {
    &__welcome-col {
      > :first-child {
        background-color: get("colors.white");
        border-radius: get("border.radius.large");
        border: 1px solid get("colors.gray.200");

        @include media("lg") {
        }
      }
    }

    &__posts-col {
      background-color: get("colors.white");
      border-radius: get("border.radius.large");
      border: 1px solid get("colors.gray.200");

      @include media("lg") {
      }
    }

    &__posts-col {
      grid-column: span 2 / span 2;
    }
  }
}
