@import '~@fider/assets/styles/variables.scss';

#p-home {

  .welcome-message {
    margin-bottom: 20px;
  }

  .ideas-filter {
    .item {
      .label {
        position: absolute;
        font-size: 8px;
        margin-left: 5px;
      }
    }
  }

  .tags-filter {
    .ui.empty.circular.label {
      font-size: .71428571rem;
      margin-right: 5px;
    }
    .selected.item {
      background-color: transparent;
      font-weight: normal;
    }
    i.check {
      color: transparent;
    }
    .selected-tag {
      i.check {
        color: $green;
      }
    }
  }

  @include media("sm") {
    .filter-column {
      padding-right: 0;
    }
  
    .search-column {
      padding-left: 0;
    }
  }

  #new-idea-input {
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px  dashed $gray-darker;
    background-color: transparent;
    font-size: 18px;
    padding: 0px 0px 10px 0px;
    font-weight: 600;
    margin: 0px 0px 10px 0px;
    border-radius: 0;
  }
}