@import '~@fider/styles/variables.scss';

.SiteHomePage {

  .welcome-message {
    margin-bottom: 20px;
  }

  .fdr-idea-list {
    > .item {
      min-height: 105px;

      .header {
        max-width: 85%;
      }
    }
    
    > .item > .content {
      .description {
        min-height: 20px;
        margin-bottom: 10px;
      }
    }
  }

  #new-idea-input {
    margin-bottom: 20px;
    border: none;
    border-bottom: 1.5px dashed $main-color;
    color: $main-color;
    font-size: 18px;
    background-color: $bg-color;
    padding: 0px 0px 10px 0px;
    font-weight: bold;
    margin: 10px 0px;
  }
}