@import "~@fider/assets/styles/variables.scss";

$color-box-size: 100px;

#p-ui-toolkit {
  .color-scale {
    margin-bottom: 10px;
  }
  .color {
    width: $color-box-size;
    height: $color-box-size;
    display: inline-block;
    margin: 0px 2px;
    border-radius: 5px;
    &:before {
      width: $color-box-size;
      height: $color-box-size;
      line-height: $color-box-size;
      text-align: center;
      display: block;
    }

    @each $name, $color in $gray-scale {
      &.gray-#{$name} {
        color: textColorFor($color);
        box-shadow: 0px 1px 1px 0px rgba(textColorFor($color), 0.2);
        background-color: $color;
        &:before {
          content: "#{$color}";
        }
      }
    }

    @each $name, $color in $green-scale {
      &.green-#{$name} {
        color: textColorFor($color);
        box-shadow: 0px 1px 1px 0px rgba(textColorFor($color), 0.2);
        background-color: $color;
        &:before {
          content: "#{$color}";
        }
      }
    }

    @each $name, $color in $yellow-scale {
      &.yellow-#{$name} {
        color: textColorFor($color);
        box-shadow: 0px 1px 1px 0px rgba(textColorFor($color), 0.2);
        background-color: $color;
        &:before {
          content: "#{$color}";
        }
      }
    }

    @each $name, $color in $red-scale {
      &.red-#{$name} {
        color: textColorFor($color);
        box-shadow: 0px 1px 1px 0px rgba(textColorFor($color), 0.2);
        background-color: $color;
        &:before {
          content: "#{$color}";
        }
      }
    }

    @each $name, $color in $blue-scale {
      &.blue-#{$name} {
        color: textColorFor($color);
        box-shadow: 0px 1px 1px 0px rgba(textColorFor($color), 0.2);
        background-color: $color;
        &:before {
          content: "#{$color}";
        }
      }
    }
  }

  .c-tag {
    margin-right: 5px;
  }
}
