@use "~@fider/assets/styles/variables.scss" as *;

#p-show-post {
  background-color: var(--colors-gray-100);
  padding-top: spacing(12);
  padding-bottom: spacing(12);

  .post-header {
    flex-grow: 1;
  }

  @include dark-mode {
    input {
      background-color: var(--colors-gray-100);
    }
  }

  .p-show-post {
    &__main-col {
      display: flex;
      flex-direction: column;
      gap: spacing(6);
    }

    &__post-card {
      background-color: var(--colors-white);
      @include dark-mode {
        background-color: var(--colors-gray-200);
      }
      border-radius: get("border.radius.xlarge");
      padding: spacing(7);
      box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1);
      transition: box-shadow 0.2s ease-in-out;
    }

    &__vote-counter-large {
      flex-shrink: 0;
    }

    &__title {
      font-size: 20px;
      font-weight: get("font.weight.xbold");
      line-height: 1.2;
      color: var(--colors-gray-900);

      @include media("md") {
        font-size: 32px;
      }

      @include media("lg") {
        font-size: 36px;
      }
    }

    &__meta {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      row-gap: spacing(2);

      &--desktop {
        @include media("sm") {
          display: none;
        }
      }

      &--mobile {
        display: none;
        margin-top: spacing(4);

        @include media("sm") {
          display: flex;
        }
      }
    }

    &__description-section {
      margin-top: spacing(7);
    }

    &__description {
      color: var(--colors-gray-800);
      line-height: 1.6;
    }

    &__actions {
      border-top: 1px solid var(--colors-gray-200);
      padding-top: spacing(4);
      margin-top: spacing(6);
    }

    &__discussion-section {
      display: flex;
      flex-direction: column;
      gap: spacing(6);
    }

    &__discussion-header {
      margin-bottom: spacing(2);
    }

    &__discussion-count {
      width: 25px;
      height: 25px;
      margin-left: spacing(4);
      border-radius: 9999px;
      text-align: center;
      background-color: var(--colors-blue-100);
      color: var(--colors-blue-400);
      @include dark-mode {
        background-color: var(--colors-blue-500);
        color: var(--colors-blue-800);
      }
    }

    &__action-col {
      display: flex;
      flex-direction: column;
      gap: spacing(4);

      @include media("sm") {
        margin-top: spacing(6);
      }

      > * {
        background-color: var(--colors-white);
        @include dark-mode {
          background-color: var(--colors-gray-200);
        }
        border-radius: get("border.radius.xlarge");
        padding: spacing(6);
        box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1);
      }

      &__follow-button--follow,
      &__follow-button--following {
        text-align: center;
        color: var(--colors-gray-800);
        background-color: var(--colors-white);
        border: 1px solid var(--colors-gray-800);
        width: 100%;
        @include dark-mode {
          background-color: var(--colors-gray-100);
          border: 1px solid var(--colors-gray-400);
        }
      }
    }
  }

  .c-comment-input {
    // Hide avatar on mobile for comment input
    @include media("sm") {
      .c-avatar {
        display: none;
      }
    }
  }

  .c-comment-input-card {
    flex-grow: 1;
    background-color: var(--colors-white);
    @include dark-mode {
      background-color: var(--colors-gray-200);
    }
    border-radius: get("border.radius.xlarge");
    padding: spacing(6);
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1);
  }

  .c-response-details {
    &__card {
      flex-grow: 1;
      border-radius: get("border.radius.xlarge");
      padding: spacing(4);
      border-width: 2px;
    }

    &__header {
      margin-bottom: spacing(3);
    }

    &__content {
      color: var(--colors-gray-800);
      line-height: 1.6;
    }
  }

  @include media("lg") {
    .p-show-post {
      display: grid;
      gap: spacing(6);
      grid-template-columns: 1fr 320px;
      grid-template-rows: auto;
      grid-template-areas:
        "Main Action"
        "Main Action";

      &__main-col {
        grid-area: Main;
      }

      &__action-col {
        grid-area: Action;
      }
    }
  }
}
