@use "~@fider/assets/styles/variables.scss" as *;

#p-show-post {
  background-color: var(--colors-gray-50);
  padding-top: spacing(12);
  padding-bottom: spacing(12);

  .post-header {
    flex-grow: 1;
  }

  .p-show-post {
    &__main-col {
      display: flex;
      flex-direction: column;
      gap: spacing(6);
    }

    &__post-card {
      background-color: var(--colors-white);
      border-radius: get("border.radius.xlarge");
      padding: spacing(7);
      box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1);
      transition: box-shadow 0.2s ease-in-out;
    }

    &__vote-counter-large {
      flex-shrink: 0;
    }

    &__title {
      font-size: 32px;
      font-weight: get("font.weight.xbold");
      line-height: 1.2;
      color: var(--colors-gray-900);

      @include media("lg") {
        font-size: 36px;
      }
    }

    &__meta {
      display: flex;
      align-items: center;
    }

    &__description-section {
      margin-top: spacing(7);
    }

    &__description {
      color: var(--colors-gray-800);
      line-height: 1.6;
    }

    &__actions {
      border-top: 1px solid var(--colors-gray-200);
      padding-top: spacing(4);
      margin-top: spacing(6);
    }

    &__discussion-section {
      display: flex;
      flex-direction: column;
      gap: spacing(6);
    }

    &__discussion-header {
      margin-bottom: spacing(2);
    }

    &__action-col {
      display: flex;
      flex-direction: column;
      gap: spacing(4);

      > * {
        background-color: var(--colors-white);
        border-radius: get("border.radius.xlarge");
        padding: spacing(6);
        box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1);
      }
    }
  }

  .c-comment-input-card {
    flex-grow: 1;
    background-color: var(--colors-white);
    border-radius: get("border.radius.xlarge");
    padding: spacing(6);
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1);
  }

  @include media("lg") {
    .p-show-post {
      display: grid;
      gap: spacing(6);
      grid-template-columns: 1fr 320px;
      grid-template-rows: auto;
      grid-template-areas:
        "Main Action"
        "Main Action";

      &__main-col {
        grid-area: Main;
      }

      &__action-col {
        grid-area: Action;
      }
    }
  }
}
