@import "~@fider/assets/styles/variables.scss";

#p-show-post {
  .post-header {
    flex-grow: 1;
  }

  .p-show-post {
    &__main-col {
      background-color: get("colors.white");
      padding: spacing(4);
      border-radius: get("border.radius.large");
      margin-bottom: spacing(4);
    }

    &__action-col {
      > :first-child {
        background-color: get("colors.white");
        padding: spacing(4);
        border-radius: get("border.radius.large");
      }
    }
  }

  @include media("lg") {
    .p-show-post {
      display: grid;
      gap: spacing(4);
      grid-template-columns: 1fr 3fr;
      grid-template-rows: auto;
      grid-template-areas:
        "Action Main"
        "Action Main";

      &__main-col {
        grid-area: Main;
      }

      &__action-col {
        grid-area: Action;
      }
    }
  }
}
