@use "~@fider/assets/styles/variables.scss" as *;

#p-show-post {
  .post-header {
    flex-grow: 1;
  }

  .p-show-post {
    &__main-col {
      // background-color: var(--colors-white);
      padding: spacing(4);
      border-radius: get("border.radius.large");
      margin-bottom: spacing(4);
    }

    &__action-col {
      > :first-child {
        // background-color: var(--colors-white);
        padding: spacing(4);
        // border-radius: get("border.radius.large");
      }
    }
  }

  @include media("lg") {
    .p-show-post {
      display: grid;
      gap: spacing(6);
      grid-template-columns: 2fr 6fr 1fr;
      grid-template-rows: auto;
      grid-template-areas:
        "Action Main"
        "Action Main";

      &__main-col {
        grid-area: Main;
        overflow: auto;
      }

      &__action-col {
        grid-area: Action;
      }
    }
  }
}
