@import "~@fider/assets/styles/variables.scss";

#p-show-post {
  .post-header {
    width: 100%;
    h1 {
      font-weight: 400;
      margin: 0px;
      font-size: $font-size-xlarge;
      margin-bottom: 2px;
      @include media("sm") {
        font-size: $font-size-big;
      }
    }
    .c-avatar {
      width: 24px;
      height: 24px;
    }
  }

  @include media(">=md") {
    .header-col,
    .comments-col {
      float: left;
      width: calc(100% - 300px);
    }
    .action-col {
      float: right;
    }
  }

  .header-col {
    margin-bottom: 20px;
    .c-list-item {
      display: flex;
    }
  }

  .action-col {
    margin-bottom: 20px;
    @include media(">=md") {
      width: 240px;
    }

    .subtitle + .c-list {
      margin-bottom: 10px;
    }
  }

  .c-tag-list {
    .m-selectable {
      .icon {
        height: 12px;
        margin-right: 2px;
        color: $green-400;
      }
    }
    span {
      margin-left: 5px;
    }
  }
}

.c-response-form {
  .c-post-search {
    .votes {
      text-align: center;
      width: 50px;
      display: inline-block;
      .icon {
        margin: 0;
      }
    }
    .status-label {
      width: 65px;
      margin-right: 5px;
      text-align: center;
    }
  }
}
