@use "~@fider/assets/styles/variables.scss" as *;

.c-webhook-listitem {
  &__icon {
    vertical-align: middle;

    &--enabled {
      color: var(--colors-green-500);
    }

    &--disabled {
      color: var(--colors-yellow-500);
    }

    &--failed {
      color: var(--colors-red-500);
    }
  }
}
