@import "~@fider/assets/styles/variables.scss";

#p-oauth-echo {
  .icon {
    margin-right: 5px;
    margin-bottom: 5px;
  }
  .icon.error {
    color: $red-400;
  }
  .icon.check {
    color: $green-400;
  }
  .icon.warn {
    color: $orange;
  }
}
