name: Manually Publish PR with ARM64

on:
  workflow_dispatch:
    inputs:
      pr_number:
        description: 'PR number'
        required: true
        type: string

jobs:
  publish-pr-multiarch:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASS }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          context: .
          build-args: COMMITHASH=${{ github.sha }}
          platforms: linux/amd64,linux/arm64/v8
          tags: getfider/fider:PR_${{ inputs.pr_number }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
