name: run-e2e

on:
  push:
    branches:
      - go/playwright-e2e

jobs:
  test-e2e:
    name: test-e2e
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 14.x
        uses: actions/setup-node@v1
        with:
          node-version: 14.x
      - run: make e2e