@use "~@fider/assets/styles/variables.scss" as *;

.c-posts-container {
  &__header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: spacing(4);
    margin-bottom: spacing(5);
  }

  &__filter-col {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: row;
    & > * + * {
      margin-inline-start: 0;
    }

    @include media("md") {
      grid-column: span 3 / span 3;
      flex-direction: row;
      & > * + * {
        margin-inline-start: spacing(1);
      }
    }
  }

  &__search-col {
    grid-column: 4;
    &:first-child {
      grid-column: 1 / -1;
    }

    @include media("sm") {
      grid-column: 1 / -1;
    }
  }
}
