@import '~@fider/assets/styles/variables.scss';

.l-tags-filter {
  .c-dropdown-text {
    font-weight: 700;
    cursor: pointer;
    border-bottom: 1px dashed $gray-darker;
  }
  &.c-dropdown .c-dropdown-menu .c-dropdown-item.is-selected {
    font-weight: normal;
    background-color: transparent;
  }
}